<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tws.devicemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_burgeon"
        android:label="@string/app_name"
        android:theme="@style/Theme.tws.Second" >
        <activity
            android:name="com.tencent.tws.assistant.apidemos.ApiDemos"
            android:theme="@style/apidemo.second" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarDisplayOptions"
            android:label="@string/activity_label_ActionBarDisplayOptions"
            android:theme="@style/TwsCustomActionMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarGradient"
            android:label="@string/activity_label_ActionBarGradient"
            android:theme="@style/TwsActionBarGradient" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarNormalButton"
            android:label="@string/activity_label_ActionBarNormalButton" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarNormalHolo"
            android:label="@string/activity_label_ActionBarNormalHolo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarNormalEdit"
            android:label="@string/activity_label_ActionBarNormalEdit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarShowHide"
            android:label="@string/activity_label_ActionBarShowHide"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionModeNormal"
            android:label="@string/activity_label_ActionModeNormal"
            android:uiOptions="none" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionModeCheckListActivity"
            android:label="@string/activity_label_ActionModeCheckListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarSpinner"
            android:label="@string/activity_label_ActionBarSpinner" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionModeMultiChoiceListActivity"
            android:label="@string/activity_label_ActionModeMultiChoiceListActivity"
            android:theme="@style/ActionModeStyle"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionMenuSelected"
            android:label="@string/activity_label_ActionMenuSelected"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionMenuSelectedText"
            android:label="@string/activity_label_ActionMenuSelectedText"
            android:theme="@style/TwsActionMenuSelected"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.widget.TwsBaseWidget"
            android:label="@string/activity_label_TwsBaseWidget"
            android:theme="@style/TwsBaseWidget" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.ListViewTest"
            android:label="@string/activity_label_ListViewTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.ListViewComplex"
            android:label="@string/activity_label_ListViewComplex" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.MultipleChoiceList"
            android:label="@string/activity_label_MultipleChoiceList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.preference.PreferenceActivityDemo"
            android:label="@string/activity_label_PreferenceActivityDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.tab.TabViewpagerActivity"
            android:label="@string/activity_label_TabViewpagerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.widget.AlertDialogSamples"
            android:label="@string/activity_label_AlertDialogSamples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.widget.AlertActivitySamples"
            android:label="@string/activity_label_AlertActivitySamples"
            android:theme="@style/Theme.tws.Second.Dialog.Bottom" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.fragment.FragmentDemo"
            android:label="@string/activity_label_FragmentDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.sortlistview.SortListviewActivity"
            android:label="@string/activity_label_SortListviewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.expandablelistview.CustomExpandableListActivity"
            android:label="@string/activity_label_CustomExpandableListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.expandablelistview.SimpleExpandableListActivity"
            android:label="@string/activity_label_SimpleExpandableListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.view.DatePickerView"
            android:label="@string/activity_label_DatePickerView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.view.DateTimePickerView"
            android:label="@string/activity_label_DateTimePickerView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.view.TimePickerView"
            android:label="@string/activity_label_TimePickerView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.view.PickerDialogOutside"
            android:label="@string/activity_label_PickerDialogOutside" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.searchview.SearchResultActivity"
            android:exported="false"
            android:label="@string/activity_label_SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.tws.Second.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actiontab.TwsActionBarTabSecondCustom"
            android:label="@string/activity_label_TwsActionBarTabSecondCustom"
            android:theme="@style/TwsActionBarTabWithTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actiontab.TwsActionBarTabSecond"
            android:label="@string/activity_label_TwsActionBarTabSecond"
            android:theme="@style/TwsActionBarTabWithTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actiontab.TwsActionBarTabCustom"
            android:label="@string/activity_label_TwsActionBarTabCustom"
            android:theme="@style/TwsActionBarTabWithTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actiontab.TwsActionBarTab"
            android:label="@string/activity_label_TwsActionBarTab"
            android:theme="@style/TwsActionBarTabWithTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.view.NumberPickerView"
            android:label="@string/activity_label_NumberPickerView"
            android:theme="@style/CustomNumberPickerStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ListViewBlur"
            android:label="@string/activity_label_ListViewBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ListViewFullScreenBlur"
            android:label="@string/activity_label_ListViewFullScreenBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ListViewFullScreenNoBlur"
            android:label="@string/activity_label_ListViewFullScreenNoBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ActionModeListViewFullScreenBlur"
            android:label="@string/activity_label_ActionModeListViewFullScreenBlur" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ScrollViewBlur"
            android:label="@string/activity_label_ScrollViewBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ScrollViewFullScreenBlur"
            android:label="@string/activity_label_ScrollViewFullScreenBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ScrollViewFullScreenNoBlur"
            android:label="@string/activity_label_ScrollViewFullScreenNoBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.GridViewBlur"
            android:label="@string/activity_label_GridViewBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ActionModeGridViewBlur"
            android:label="@string/activity_label_ActionModeGridViewBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.GridViewNoBlur"
            android:label="@string/activity_label_GridViewNoBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ActionModeBlur"
            android:label="@string/activity_label_ActionModeBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.blur.ActionModeNoBlur"
            android:label="@string/activity_label_ActionModeNoBlur"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.SimpleListView"
            android:label="@string/activity_label_SimpleListView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.NormalListView"
            android:label="@string/activity_label_NormalListView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.listview.CheckListView"
            android:label="@string/activity_label_CheckListView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.floatview.FloatViewActivity"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_FloatViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.actionbar.ActionBarMiniMode"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_ActionBarMiniMode" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.sortlistview.SideBarActivity"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_SideBarActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.ripple.ButtonRipple"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_ButtonRipple" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.widget.TwsEditTextActivity"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_TwsEditTextActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.assistant.apidemos.widget.TwsButtonActivity"
            android:hardwareAccelerated="false"
            android:label="@string/activity_label_TwsButtonActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.widget.progressbar.PogressBarActivity"
            android:label="@string/activity_label_PogressBarActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.apidemos.GraphicesActivity"
            android:label="@string/activity_label_GraphicesActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tencent.tws.assistant.apidemos.floatview.NetworkConnectChangedReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Burgeon-start -->
        <activity
            android:name="com.tencent.tws.burgeon.layout.shape.ShapeRectangle"
            android:label="@string/activity_label_shaperectangele" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.layout.shape.ShapeOval"
            android:label="@string/activity_label_shapeoval" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.layout.shape.ShapeLine"
            android:label="@string/activity_label_shapeline" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.layout.shape.ShapeRing"
            android:label="@string/activity_label_shapering" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.layout.selector.SelectorActivity"
            android:label="@string/activity_label_layoutselector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.layout.layerlist.LayerListActivity"
            android:label="@string/activity_label_layoutlayerlist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.Draw.PorterDuff.XfermodesActivity"
            android:label="@string/activity_label_porterDuffXfermodes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.Draw.PorterDuff.ClipActivity"
            android:label="@string/activity_label_porterDuffclip" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.Draw.PorterDuff.TintActivity"
            android:label="@string/activity_label_porterDufftint" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Creational.FactoryMethod.FactoryMethodActivity"
            android:label="@string/activity_label_FactoryMethodActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Creational.AbstractFactory.AbstractFactoryActivity"
            android:label="@string/activity_label_AbstractFactoryActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Creational.Singleton.SingletonActivity"
            android:label="@string/activity_label_SingletonActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Creational.Builder.BuilderActivity"
            android:label="@string/activity_label_BuilderActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Creational.Prototype.PrototypeActivity"
            android:label="@string/activity_label_PrototypeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.TemplateMethod.TemplateMethodActivity"
            android:label="@string/activity_label_TemplateMethodActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Mediator.MediatorActivity"
            android:label="@string/activity_label_MediatorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Observer.ObserverActivity"
            android:label="@string/activity_label_ObserverActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Visitor.VisitorActivity"
            android:label="@string/activity_label_VisitorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Command.CommandActivity"
            android:label="@string/activity_label_CommandActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.ChainOfResponsibility.ChainofResponsibilityActivity"
            android:label="@string/activity_label_ChainofResponsibilityActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Strategy.StrategyActivity"
            android:label="@string/activity_label_StrategyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Iterator.IteratorActivity"
            android:label="@string/activity_label_IteratorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Interpreter.InterpreterActivity"
            android:label="@string/activity_label_InterpreterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.Memento.MementoActivity"
            android:label="@string/activity_label_MementoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Behavioral.State.StateActivity"
            android:label="@string/activity_label_StateActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Adapter.AdapterActivity"
            android:label="@string/activity_label_AdapterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Bridge.BridgeActivity"
            android:label="@string/activity_label_BridgeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Composite.CompositeActivity"
            android:label="@string/activity_label_CompositeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Decorator.DecoratorActivity"
            android:label="@string/activity_label_DecoratorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Facade.FacadeActivity"
            android:label="@string/activity_label_FacadeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Flyweight.FlyweightActivity"
            android:label="@string/activity_label_FlyweightActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.DesignPattern.Structural.Proxy.ProxyActivity"
            android:label="@string/activity_label_ProxyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.Draw.Paint.WaveActivity"
            android:label="@string/activity_label_WaveActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.Draw.Paint.FilterActivity"
            android:label="@string/activity_label_FilterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.animation.apidemos.AnimationBaseActivity"
            android:label="@string/activity_label_AnimationBaseActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.animation.apidemos.AnimationListActivity"
            android:label="@string/activity_label_AnimationListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tws.burgeon.widget.progressbar.TwsCircularProgressViewActivity"
            android:label="@string/activity_label_TwsCircularProgressViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tencent.tws.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Burgeon_end -->
    </application>

</manifest>